.headerlink{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
    font-weight: bold;
}
.logoimage{
    width: 100px;
    height: 100px;
}

.homelogoimage{
    width: 400px;
    height: 400px;
    display: block;
    margin: 20px auto;
}